* {
    margin: 0;
}

body {
    margin: 0;
    background-color: #cfeecf;
    font-size: large;
    cursor: url('paint-brush.png'), auto;
}

header {
    background-color: rgb(195, 232, 234);
    width: 100vw;
    margin-left: -20px; /* Cancel body's left padding */
    margin-right: -20px; /* Cancel body's right padding */
    padding: 0;
    height: 50px;
}

.container {
    padding: 0 20px;
}

#title {
    text-align: center;
    font-size: xx-large;
    color: navy;
}

.nav-links {
    background-color: palevioletred;
    font-size: 20px;
    width: 100vw;
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0;
}

.nav-links a.active {
    color: white;
    background-color: purple;
}

.nav-links a:hover:not(.active) {
    background-color: chartreuse;
    color: black;
}

.nav-links a:visited {
    color: white;
}

#socials a { 
    text-decoration: none;
}

#SelfImg {
    width: 300px;
    height: 400px;
}

#social_medias {
    width: 40px;
    height: 40px;
}

#bttm {
    font-size: small;
}

footer {
    margin: 0;
    background-color: #cfeecf;
    font-size: 20px;
    width: 100%;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: palegoldenrod;
        text-align: center;
        padding: 10px 0;
    }
    
    .nav-links a.active {
        display: flex;
    }

    .nav-links a{
        margin: 10px 0;

    }

    .menu-toggle {
        display: block;
    }
}
