
* {
    margin: 0;
}
body {
    margin: 0;
    background-color: #cfeecf;
    font-size: large;
}

header {
    margin:0;
    background-color: rgb(195, 232, 234);
    width: 100%;
    padding: 0;
    height: 50px !important;
}

#title {
    text-align: center;
    font-size: xx-large;
    color: navy;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  flex: 1;
  padding-right: 20px;
}

.image img {
  max-width: 300px; /* Adjust as needed */
  height: auto;
}

/* Social Media Links */
#socials a { 
    text-decoration: none;
}

/* Image Styling */
#selfImg {
    width: 400px;
    height: 500px;
}

#social_medias {
    width: 30px;
    height: 30px;
}

.nav-links {
    margin: 0;
    background-color: palevioletred;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0;
}

.nav-links a.active {
    color: white;
    background-color: purple;
}

.nav-links a:hover:not(.active) {
    background-color: chartreuse;
    color: black;
}

.nav-links a:visited {
    color: white;
}

#socials a { 
    text-decoration: none;
}

#SelfImg {
    width: 300px;
    height: 400px;
}

#social_medias {
    width: 40px;
    height: 40px;
}

#bttm {
    font-size: small;
}

footer {
    margin: 0;
    background-color: #cfeecf;
    font-size: 20px;
    width: 100%;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: palegoldenrod;
        text-align: center;
        padding: 10px 0;
    }
    
    .nav-links a.active {
        display: flex;
    }

    .nav-links a{
        margin: 10px 0;

    }

    .menu-toggle {
        display: block;
    }
}

body {
  cursor: url('paint-brush.png'), auto;
}
